.nav-color{
    background-color: $white;
}

.navegador {
    ul {
        li{
            a {
                color: $violeta
            }
        }
    }

}
.navegador :hover{
    color:black;
}

.logo{
    background-image: url(../imagenes/Alert-game-.svg);
    background-repeat: no-repeat;
    width: 150px;
    height: 90px;
}

.s-enter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-enter{
        padding: 20px;  
        .buttn-color{
            background-color: $violeta;
            color:$white;
            &:hover{
                background-color:$yellow;
                color:$white;
            }
        } 
    }

.welcome{
    font-size: 80px;
    font-family:'Bakbak One';
    padding: 20px;
    color:$violeta;
}
.start a{
                font-family:'Bakbak One';
        }

    